<!DOCTYPE html>
<html ng-app="FeedbackTool">
<head>
  <script type="text/javascript" src="/javascript/angular.min.js"></script>
  <script type="text/javascript" src="/javascript/angular-route.min.js"></script>
  <script src="/javascript/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascript/ui-bootstrap-tpls.min.js"></script>
  <script src="/javascript/angular-animate.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/dirPagination.js"></script>
  <script type="text/javascript" src="/app.js"></script>
  <script type="text/javascript" src="/tab-controller.js"></script>
  <script type="text/javascript" src="/search-controller.js"></script>
  <script type="text/javascript" src="/qa-index-controller.js"></script>
  <script type="text/javascript" src="/qa-controller-show.js"></script>
  <script type="text/javascript" src="/feedback-reviews.js"></script>
  <script type="text/javascript" src="/qa-new-controller.js"></script>
  <script type="text/javascript" src="/feedback-index-controller.js"></script>
  <script type="text/javascript" src="/feedback-new-controller.js"></script>
  <script type="text/javascript" src="/feedback-userindex-controller.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/custom-css.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:white;">
<% if current_user %>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Todo</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img alt="FeedbackTool" src="/templogofeedback.png" style="display: block;margin-left: 46px;"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Settings</a></li>
        <li>
          <a rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa fa-fw fa-power-off"></i> Sign Out </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
      <%= render "sidemenu" %>
    </div>
    <div class="col-sm-9 col-md-10 main">
      <div ng-view autoscroll="false"></div>
      <%= yield %>
      <!--toggle sidebar button-->
      <p class="visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
      </p>
    </div>
  </div><!--/row-->
</div><!--/.container-->
<% else %>
<div class="container">
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section ng-controller="TabController as tab"  class="login-form">
        <div class="tab" ng-show="tab.isSelected(1)"><%= render "devise/sessions/login" %></div>
        <div class="tab" ng-show="tab.isSelected(2)"class="ng-hide"><%= render "devise/registrations/new" %></div>
        <div class="tab" ng-show="tab.isSelected(3)" class="ng-hide"><%= render "devise/passwords/new" %></div>
      </br>
      <ul class="nav nav-pills">
        <li ng-class="{ active:tab === 1}"><a href ng-click="tab.selectTab(1)">Login</a></li>
        <li ng-class="{ active:tab === 2}"><a href ng-click="tab.selectTab(2)">Register</a></li>
        <li ng-class="{ active:tab === 3}"><a href ng-click="tab.selectTab(3)">Lost Password</a></li>
      </ul>
    </section>
  </div>
  <div class="col-md-4"></div>
  </div>
</div>
  <% end %>
</body>
</html>







